* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url('img/background.jpeg');
  color: white;
  font-size: 16px;
  overflow: hidden;
}

header {
  position: fixed;
  width: 80vw;
  left: 0;
  transform: translateX(0);
  display: grid;
  grid-template-columns: 250px auto;
  gap: 10%;
  z-index: 2;
  margin-top: auto;

  & img {
    width: 150px;
    
  }

  & nav {
    & ul {
      display: grid;
      grid-template-columns: repeat(5, 200px);

      & a {
        text-decoration: none;
        color: rgba(240, 248, 255, 0.808);
        font-size: 1rem;
        transition: color 0.3s, transform 0.3s, font-size 0.3s;
        cursor: pointer;
      }

      & a:hover {
        color: rgba(255, 0, 0, 0.664);
        transform: scale(1.2);
        font-size: 1.2rem;
      }
    }
  }
}

main {
  background-color: rgba(0, 0, 0, 0.842);
  padding-top: 100px;

  & #gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
  }

    & .container-dragons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 25px;
  }

  & .dragon {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 30px;
  }

  & .dragon-name {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(87, 3, 3, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-weight: bold;
  }

  & .dragon:hover img {
    transform: scale(1.1);
  }
  
}
