* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url('img/background.jpeg');
  color: white;
  font-size: 16px;
  overflow: hidden;
}

header {
  position: fixed;
  width: 80vw;
  left: 0;
  transform: translateX(0);
  display: grid;
  grid-template-columns: 250px auto;
  gap: 10%;
  z-index: 2;
  margin-top: auto;

  & img {
    width: 150px;
    
  }

  & nav {
    & ul {
      display: grid;
      grid-template-columns: repeat(3, 200px);

      & a {
        text-decoration: none;
        color: rgba(240, 248, 255, 0.808);
        font-size: 1rem;
        transition: color 0.3s, transform 0.3s, font-size 0.3s;
        cursor: pointer;
      }

      & a:hover {
        color: rgba(255, 0, 0, 0.664);
        transform: scale(1.2);
        font-size: 1.2rem;
      }
    }
  }
}

section {
  background-color: rgba(0, 0, 0, 0.842);
  height: 100vh;
  position: relative;

  & .list {
    width: 80vw;
    height: 100%;
    margin: auto;
    position: relative;

    & .itens {
      position: absolute;
      inset: 0;

      & .dragon {
        position: absolute;
        top:55%;
        transform: translateY(-50%);
        width: 45%; 

        & img {
          width: 100%;
        }
      }

      & .content {
        position: absolute;
        right: 100px;
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 20px;

        & .dragon-information {
          font-weight: bold;
        }

        & h2 {
          font-size: 5em; 
          line-height: 0.5em;
          font-family: "League Gothic", sans-serif;
        }

        & .description {
          color: rgb(100, 93, 93);
          font-size: 14px; 
          text-align: right;
          max-width: 400px;
          margin-top: 10px;
          margin-bottom: 20px;
        }

        & .information {
          border-radius: 30px;
          height: 35px;
          width: 120px;
          text-transform: uppercase;
          border: 2px solid rgba(255, 0, 0, 0.664);
          background-color: rgba(97, 12, 12, 0.26);
          color: white;
          font-weight: bold;
        }
      }
    }
  }

  .arrows {
    width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -28px);
    display: flex;
    justify-content: space-between;

    & button:nth-child(1) {
      & img {
        transform: scale(-1);
      }
    }

    & button {
      top: 60%;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: none;
      cursor: pointer;

      & img {
        width: 30px;
        margin-top: 4px;
      }

      &:hover {
        background-color: rgba(255, 0, 0, 0.407);
      }
    }
  }

  .indicators {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;
    font-family: "League Gothic", sans-serif;

    & .number {
      font-size: 3em;
    }

    & ul {
      display: flex;
      gap: 8px;

      & li {
        width: 35px;
        height: 4px;
        background-color: rgba(255, 0, 0, 0.664);
        border-radius: 5px;
        transition: 0.5s;
      }

      & .active {
        background-color: white;
      }
    }
  }

  & .list {
    & .itens {
      transform: translateX(100vw);
      transition: 0.5s;
      opacity: 0;

      & .dragon {
        & img {
          transform: rotate(0);
          transition: 0.5s;
          transition-delay: 0.3s;
        }
      }

      & .content {
        & .dragon-information, h2, .description, .information {
          transform: translateX(200px);
          transition: 0.7s;
          transition-delay: 0.4s;
        }

        & h2 {
          transition-delay: 0.3s;
        }

        & .description {
          transition-delay: 0.4s;
        }

        & .information {
          transition-delay: 0.5s;
        }
      }
    }

    & .active {
      transform: translateX(0);
      transition: 0.5s;
      opacity: 1;

      & .dragon {
        & img {
          transform: rotate(-10deg);
        }
      }

      & .content {
        & .dragon-information, h2, .description, .information {
          transform: translateX(0);
        }
      }
    }
  }
}
